@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

/* popup */
.pc {
  display: block;
}
.mobile {
  display: none !important;
}

.layer-popup {
  position: absolute;
  z-index: 9999;
  background-color: #fff;
  box-shadow: 2px 3px 10px #555;
  border-radius: 10px;
  height: auto !important;
}
.layer-popup:nth-child(1) {
  left: 0;
}
.layer-popup img {
  width: 100%;
  height: auto !important;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.layer-popup .show-chk-wrap {
  display: flex;
  padding: 10px 20px;
  box-sizing: border-box;
  justify-content: space-between;
}
.layer-popup .show-chk-wrap a {
  font-size: 16px;
  font-weight: 700;
}

#container {
  width: 100%;
  margin: 0 auto;
}
.text-center {
  text-align: center;
}

/* content */
.content {
  width: 100%;
  text-align: center;
}
.floating-header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px 25px;
  box-sizing: border-box;
  align-items: center;
  z-index: 100;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.floating-header .logo {
  width: 85px;
}
.floating-header .title {
  color: #fff;
  font-size: 24px;
  font-weight: 200;
  position: relative;
  left: 1.5%;
  top: 3px;
}
.floating-header .link {
  color: #fff;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: -2.3px;
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 11px 14px 10px;
  box-sizing: border-box;
}
.floating-header.fixed {
  background: #fff;
}
.floating-header.fixed .title {
  color: #0418a3;
}
.floating-header.fixed .link {
  background: #0418a3;
  color: #fff;
}

.area1 {
  width: 100%;
  background: transparent;
  padding: 180px 0 270px;
  text-align: center;
  position: relative;
}
.area1 .logo {
  max-width: 129px;
  margin-bottom: 30px;
}
.area1 .small {
  color: #fff;
  text-align: center;
  font-size: 50px;
  font-weight: 300;
  line-height: 90px;
  letter-spacing: -2.5px;
}
.area1 .big {
  color: #fff;
  text-align: center;
  font-size: 70px;
  font-weight: 700;
  line-height: 90px;
  letter-spacing: -2.5px;
}
.area1 .tag {
  border-radius: 50px;
  background: #fff;
  padding: 16px 60px 14px;
  box-sizing: border-box;
  margin-top: 50px;
  display: inline-block;
  color: #02167c;
  text-align: center;
  font-size: 26px;
  letter-spacing: -1.3px;
}
.area1 .wave {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.area1 .text-wrap{
  min-height: 209px;
}
.area2 {
  padding: 200px 0;
}
.area2 .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
}
.area2 .row:nth-child(1) .text {
  width: 55%;
}
.area2 .row .text1 {
  max-width: 645px;
  width: 100%;
}
.area2 .row .tag {
  border-radius: 50px;
  padding: 10px 74px 12px;
  box-sizing: border-box;
  color: #fff;
  text-align: center;
  font-size: 30px;
  font-family: Noto Sans KR;
  letter-spacing: -1.5px;
  margin-bottom: 5px;
  display: block;
}
.area2 .row .tag:nth-child(1) {
  background: #3656ff;
}
.area2 .row .tag:nth-child(2) {
  background: #0923ac;
}
.area2 .row .tag:nth-child(3) {
  background: #02167c;
  margin-bottom: 0;
}
.area2 .row:nth-child(1) {
  margin-bottom: 120px;
}
.area2 .row .car {
  max-width: 500px;
  width: 90%;
}
.area2 .row .text2 {
  max-width: 554px;
  width: 100%;
}
.area2 .row:nth-child(2) .text {
  width: 55%;
}

.area3 {
  position: relative;
  overflow: hidden;
}

.area3 .banner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  height: 15%;
}

.area3 .geni-wrap {
  display: flex;
  justify-content: center;
  gap: 90px;
  max-width: 1200px;
  margin: 150px auto;
}
.area3 .geni-wrap .people {
  max-width: 150px;
  width: 30%;
}

.area3 .geni-wrap .text-wrap {
  width: 100%;
}
.area3 .geni-wrap .text-wrap .geni-title-wrap{
  width: 100%;
  position: relative;
}
.area3 .geni-wrap .text-wrap .geni-title {
  width: 100%;
}
.area3 .geni-wrap .text-wrap .geni-title-wrap .geni{
  position: absolute;
  left: 37%;
  bottom: 21%;
  max-width: 200px;
  width: 19%;
}
.area3 .geni-wrap .text-wrap .sub-title1 {
  color: #333;
  font-size: 60px;
  font-weight: 300;
  letter-spacing: -3px;
  margin: 50px 0 30px 0;
}

.area3 .geni-wrap .text-wrap .sub-title2 {
  color: #333;
  font-size: 36px;
  font-family: "Noto Sans KR";
  font-weight: 300;
  letter-spacing: -1.8px;
}

.area3 .geni-wrap .text-wrap .sub-title2 strong {
  color: #02167c;
  font-weight: 500;
}

.area3 .three-keywords {
  display: flex;
  gap: 15px;
  max-width: 1000px;
  margin: 0 auto 300px auto;
}

.area3 .three-keywords .keyword {
  width: 33.3%;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border-radius: 35px;
  border: 0.5px solid #eee;
  background: #fff;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
}

.area3 .three-keywords .keyword .title {
  color: #3656ff;
  text-align: center;
  font-size: 40px;
  font-family: "S-Core Dream";
  font-weight: 700;
  letter-spacing: -2.5px;
  width: 100%;
}

.area3 .three-keywords .keyword img {
  width: 80px;
}

.area3 .three-keywords .keyword .text {
  width: 100%;
  color: #333;
  text-align: center;
  font-size: 20px;
  font-family: "S-Core Dream";
  font-weight: 300;
  letter-spacing: -1.2px;
}

.area3 .click-btn {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.area3 .click-btn .click {
  background: linear-gradient(135deg, #3656ff 0%, #5100d8 100%);
}

.area3 .click-btn p {
  white-space: nowrap;
  color: #fff;
  text-align: center;
  font-size: 40px;
  font-family: "S-Core Dream";
  font-weight: 700;
  letter-spacing: -2px;
  padding: 20px 82px;
  border-radius: 50px;
  background: #bac0db;
  cursor: pointer;
  box-sizing: border-box;
}
.area3 .tab-container{
  margin: 80px auto 150px;

}
.area3 .service-wrap {

}
.area3 .service-wrap .title {
  color: #333;
  text-align: center;
  font-size: 36px;
  font-family: "S-Core Dream";
  font-weight: 300;
  letter-spacing: -1.8px;
  margin-bottom: 40px;
}
.area3 .service-wrap .title span {
  color: #02167c;
  font-weight: 700;
}

.area3 .service-wrap .service {
  display: flex;
  gap: 100px;
  justify-content: center;
}
.area3 .service-wrap .service .service-item{
  text-align: center;
}
.area3 .service-wrap .service img {
  width: 220px;
  margin-bottom: 10px;
  border-radius: 50%;
  border: #3656ff 2px solid;
}
.area3 .service-wrap .service .sub-tit1 {
  text-align: center;
  font-size: 26px;
  font-family: "Noto Sans KR";
  line-height: 37px;
  letter-spacing: -1.3px;
  color: #3656ff;
}
.area3 .service-wrap .service .tit {
  color: #333;
  text-align: center;
  font-size: 40px;
  font-family: "S-Core Dream";
  font-weight: 500;
  letter-spacing: -2px;
  padding: 30px 0 10px 0;
}
.area3 .service-wrap .service .sub-tit2 {
  color: #333;
  text-align: center;
  font-size: 28px;
  font-family: Noto Sans KR;
  font-weight: 300;
  line-height: 37px;
  letter-spacing: -1.4px;
}
.tab-container .tab-area{
  display: none;
}
.tab-container .tab-area:nth-child(1){
  display: block;
}
.work-info {
  display: flex;
  gap: 10px;
  justify-content: center;
  max-width: 1280px;
  padding: 0 20px;
  margin: 30px auto 0;
  width: 100%;
}

.work-info .work:nth-child(1) .title {
  background: linear-gradient(90deg, #0b8aff 0%, #3554ff 100%);
}
.work-info .work:nth-child(2) .title {
  background: linear-gradient(90deg, #3656ff 0%, #5200ff 100%);
}
.work-info .work {
  width: 33.3%;
  border-radius: 10px;
  border: 0.5px solid #eee;
  background: #fff;
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.07);
}
.work-info .work .title {
  padding: 12px 0px;
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-family: Noto Sans KR;
  white-space: nowrap;
  font-weight: 700;
  letter-spacing: -1.2px;
  margin-bottom: 0px;
  border-radius: 10px 10px 0px 0px;
  border: 0.5px solid #eee;
  background: linear-gradient(90deg, #5101fc 0%, #592bdb 100%);
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.07);
}
.work-info .work .text-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 220px;
  margin: auto;
}

.work-info .work .text {
  list-style: disc;
  color: #333;
  text-align: center;
  font-size: 23px;
  font-family: Noto Sans KR;
  letter-spacing: -1.25px;
}
.work-info .work .text li {
  text-align: left;
}
.work-info .work .text strong {
  font-size: 40px;
  font-weight: 700;
}
.tax-wrap .work-tit{
  display: block;
  max-width: 364px;
  margin: 100px auto 100px;
  width: 60%;
}
.tax-wrap .work-img{
  max-width: 1240px;
  display: block;
  margin: 0 auto 0;
  width: 90%;
}
.tab-container .pay-wrap .pay-img{
  max-width: 1286px;
  display: block;
  margin: 0 auto;
  width: 90%;
}
.tab-container .pay-wrap .chart-container{

}
.tab-container .pay-wrap .chart-container .chart1{
  border-radius: 10px;
  border: 0.5px solid #EEE;
  background: #FFF;
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.07);
  max-width: 1140px;
  width: 90%;
  margin: 0 auto;
}
.tab-container .pay-wrap .chart-container .chart1 .title{
  border-radius: 10px 10px 0px 0px;
  background: linear-gradient(90deg, #0B8AFF 0%, #5828DC 100%);
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.07);
  text-align: center;
  padding: 10px 0 9px;
  color: #FFF;
  text-align: center;
  font-size: 32px;
  font-family: Noto Sans KR;
  font-weight: 700;
  letter-spacing: -1.6px;
}
.tab-container .pay-wrap .chart-container .chart1 .flex{
  display: flex;
}
.tab-container .pay-wrap .chart-container .chart1 .flex .item{
  width: 25%;
  padding: 25px 0 35px;
  text-align: center;
}
.tab-container .pay-wrap .chart-container .chart1 .flex .item .date{
  color: #157CFA;
  text-align: center;
  font-size: 28px;
  font-family: Noto Sans KR;
  font-weight: 500;
  letter-spacing: -1.4px;
}
.tab-container .pay-wrap .chart-container .chart1 .flex .item .pay{
  color: #333;
  text-align: center;
  font-size: 40px;
  font-family: Noto Sans KR;
  letter-spacing: -2px;
}
.tab-container .pay-wrap .chart-container .chart1 .flex .item .pay strong{
  font-size: 50px;
}
.tab-container .pay-wrap .chart-container .chart1-text{
  color: #777;
  text-align: right;
  font-size: 22px;
  font-family: Noto Sans KR;
  letter-spacing: -1.1px;
  opacity: 0.699999988079071;
  max-width: 1140px;
  width: 90%;
  margin: 20px auto 0;
}
.tab-container .pay-wrap .chart-container .icon1{
  width: 40px;
  display: block;
  margin: 50px auto 70px;
}
.tab-container .pay-wrap .chart-container .chart2-title{
  text-align: center;
  font-size: 34px;
  font-family: Noto Sans KR;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: -1.7px;
  opacity: 0.8999999761581421;
  margin-bottom: 30px;
  color: #FF6161;
}
.tab-container .pay-wrap .chart-container .chart2-wrap{
  display: flex;
  margin: 0 auto;
  max-width: 1140px;
  gap: 10px;
  width: 90%;
  justify-content: center;
}
.tab-container .pay-wrap .chart-container .chart2-wrap .chart2{
  width: 50%;
  border-radius: 10px;
  border: 0.5px solid #EEE;
  background: #FFF;
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.07);
}
.tab-container .pay-wrap .chart-container .chart2-wrap .chart2 .title{
  border-radius: 10px 10px 0px 0px;
  background: linear-gradient(90deg, #FF6262 0%, #FF4F4C 100%);
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.07);
  padding: 10px 0 9px;
  color: #FFF;
  text-align: center;
  font-size: 32px;
  font-family: Noto Sans KR;
  font-weight: 700;
  letter-spacing: -1.6px;
}
.tab-container .pay-wrap .chart-container .chart2-wrap .chart2 .info{
  padding: 27px 0 30px;
  text-align: center;
  color: #333;
  text-align: center;
  font-size: 44px;
  font-family: Noto Sans KR;
  font-weight: 300;
  letter-spacing: -2.2px;
}
.tab-container .pay-wrap .chart-container .chart2-wrap .chart2 .info .sub{
  color: #333;
  text-align: center;
  font-size: 30px;
  font-family: Noto Sans KR;
  font-weight: 700;
  letter-spacing: -2.2px;
}
.tab-container .pay-wrap .chart-container .chart2-wrap .chart2 .info .small{
  color: #777;
  text-align: center;
  font-size: 30px;
  font-family: Noto Sans KR;
  font-weight: 300;
  letter-spacing: -2.2px;
}
.tab-container .pay-wrap .chart-container .icon2{
  width: 49px;
  display: block;
  margin: 20px auto 40px;
}
.tab-container .pay-wrap .chart-container .txt{
  color: #333;
  text-align: center;
  font-size: 50px;
  font-family: S-Core Dream;
  font-weight: 300;
  letter-spacing: -3px;
  margin-bottom: 50px;
}
.tab-container .pay-wrap .bottom{
  max-width: 700px;
  width: 70%;
  margin: 0 auto;
  display: block;
}
.tab-container .welfare{
  width: 90%;
  max-width: 1000px;
  display: block;
  margin: -50px auto 0;
}
.tab-container .welfare-txt{
  color: #999;
  text-align: center;
  font-size: 28px;
  font-family: Noto Sans KR;
  font-weight: 300;
  line-height: 37px;
  letter-spacing: -1.4px;
  margin-top: 50px;
}
.tab-container .vision-wrap{

}
.tab-container .vision-wrap .tit{
  color: #333;
  text-align: center;
  font-size: 36px;
  font-family: S-Core Dream;
  font-weight: 300;
  letter-spacing: -1.8px;
}
.tab-container .vision-wrap .tit strong{
  color: #02167C;
}
.tab-container .vision-wrap .grid-wrap{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin: 30px auto 0;
  max-width: 1290px;
  width: 90%;
}
.tab-container .vision-wrap .grid-wrap .item{
  border-radius: 30px;
  border: 1px solid #EEE;
  background: #FFF;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.10);
  padding: 40px 10px 30px;
  box-sizing: border-box;
  color: #333;
  text-align: center;
  font-size: 25px;
  font-family: S-Core Dream;
  font-weight: 300;
  letter-spacing: -1.6px;
  width: calc(33% - 10px);
}

.tab-container .vision-wrap .grid-wrap .item:nth-child(2){
  padding-top: 50px;
}
.tab-container .vision-wrap .grid-wrap .item .red{
  color: #F85A57;
}
.tab-container .vision-wrap .car{
  display: block;
  margin: 30px auto 20px;
  max-width: 500px;
  width: 70%;
}
.tab-container .vision-wrap .bottom{
  color: #333;
  text-align: center;
  font-size: 36px;
  font-family: S-Core Dream;
  font-weight: 300;
  letter-spacing: -1.8px;
}
.tab-container .vision-wrap .bottom strong{
  color: #02167C;
}
.target-wrap{
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  padding: 150px 0;
}
.target-wrap .title{
  max-width: 193px;
  width: 40%;
  display: block;
  margin: 0 auto 100px;
}
.target-wrap .chart{
  width: 100%;
  display: flex;
  justify-content:center;
}
.target-wrap .chart .item:nth-child(1){
  width: 28%;
}
.target-wrap .chart .item:nth-child(1) .title-wrap{
  border-radius: 50px 0 0px 50px;
}
.target-wrap .chart .item:nth-child(3) .title-wrap{
  border-radius: 0px 50px 50px 0px;
}
.target-wrap .chart .item:nth-child(2){
  width: 30%;
}
.target-wrap .chart .item:nth-child(3){
  width: 40%;
}
.target-wrap .chart .item .title-wrap{
  background: #464B67;
  color: #FFF;
  text-align: center;
  font-size: 24px;
  font-family: Noto Sans KR;
  font-weight: 700;
  letter-spacing: -1.2px;
  padding: 14px 0 16px;
  text-align: center;
}
.target-wrap .chart .item{
  text-align: center;
}
.target-wrap .chart .item .img1{
  max-width: 180px;
  width: 90%;
  margin-top: 70px;
}
.target-wrap .chart .item .img2{
  max-width: 196px;
  width: 90%;
  margin-top: 80px;
}
.target-wrap .chart .item ul{
    margin-top: 40px;
}
.target-wrap .chart .item li{
  list-style: disc;
  color: #333;
  font-size: 25px;
  font-family: Noto Sans KR;
  letter-spacing: -1.5px;
  text-align: left;
  margin-bottom: 35px;
}
.career-wrap{
  background: #F7F8FD;
  padding: 150px 0;
}
.career-wrap .title{
  width: 40%;
  max-width: 193px;
  display: block;
  margin: 0 auto 100px;
}
.career-wrap .step-wrap{
  max-width: 1040px;
  width: 90%;
  display: flex;
  margin: 0 auto;
  gap: 10%;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.career-wrap .step-wrap .item{
  width: 26%;
  position: relative;
}
.career-wrap .step-wrap .item .img{
  width: 100%;
}
.career-wrap .step-wrap .item .icon{
  position: absolute;
  max-width: 40px;
  width: 10%;
  top: 34%;
  left: -25%;
}
.video-wrap{
  padding: 150px 0;
}
.video-wrap .title{
  max-width: 167px;
  width: 35%;
  display: block;
  margin: 0 auto 100px;
}
.youtube-container{
  max-width: 936px;
  width: 90%;
  margin: 0 auto;
}
.youtube-wrap {
  position:relative;
  height:0;
  padding-bottom:56.25%;
}

.youtube-wrap iframe {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
.video-wrap .txt{
  color: #000;
  font-size: 36px;
  font-family: Noto Sans KR;
  font-weight: 500;
  letter-spacing: -1.8px;
  text-align: left;
  margin-top: 25px;
}
.locate-container{
  padding: 150px 0 0;
  background: #F7F7F7;
}
.locate-container .locate-wrap{
  width: 90%;
  margin:  0 auto;
}
.locate-container .locate-wrap .title{
  max-width: 362px;
  width: 80%;
  display: block;
  margin: 0 auto 100px;
}
.locate-container .locate-wrap .map-wrap{
  width: 100%;
}
.locate-container .locate-wrap .map-wrap .map{
  width: 100%;
  display: none;
}
.locate-container .locate-wrap .map-wrap .map:nth-child(1){
  display: block;
}
.locate-container .locate-wrap .map-tab-wrap-pc{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 80px;
}
.locate-container .locate-wrap .map-tab-wrap-mobile{
  display: flex !important;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}
.locate-container .locate-wrap .map-flex{
  display: flex;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
}
.locate-container .locate-wrap .map-flex .map-wrap{
  width: 55%;
}
.locate-container .locate-wrap .map-flex .map-wrap img{
  position: relative;
  bottom: 0px;
  margin-top: 20px;
}
.locate-container .locate-wrap .map-flex .map-tab-container{
  width: 45%;
}
.locate-container .locate-wrap .map-tab-wrap .map-tab{
  width: calc(20% - 10px);
  border-radius: 50px;
  color: #FFF;
  text-align: center;
  font-size: 36px;
  font-family: S-Core Dream;
  font-weight: 200;
  letter-spacing: -1.8px;
  background: #CCC;
  padding: 21px 0 18px;
  cursor: pointer;
}
.locate-container .locate-wrap .map-tab-wrap .map-tab:hover,
.locate-container .locate-wrap .map-tab-wrap .map-tab.active{
  background: #0923AC;
  font-weight: 700;
}
.locate-container .locate-wrap .map-tab-area{
  margin-top: 50px;
  display: none;
}
.locate-container .locate-wrap .map-tab-area:nth-child(1){
  display: block;
}
.locate-container .locate-wrap .map-tab-container{
  min-height: 730px;
}
.locate-container .locate-wrap .map-tab-area .info-container{
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 65px;
}
.locate-container .locate-wrap .map-tab-area .info-container:nth-last-child(1){
  margin-bottom: 0;
}
.locate-container .locate-wrap .map-tab-area .info-container .locate-name{
  width: 20%;
}
.locate-container .locate-wrap .map-tab-area .info-container .locate-name .name{
  color: #0923AC;
  text-align: left;
  font-size: 30px;
  font-family: 'yg-jalnan';
  font-weight: 700;
  line-height: 200%;
  letter-spacing: -2.5px;
}
.locate-container .locate-wrap .map-tab-area .info-container .info-wrap{
  width: 100%;
  position: relative;
}
.locate-container .locate-wrap .map-tab-area .info-container .info-wrap:after{
  content: "";
  position: absolute;
  height: 80%;
  width: 1px;
  background: #0923AC;
  left: 0;
  top: 10%;
}
.locate-container .locate-wrap .map-tab-area .info-container .info-wrap .item{
  display: flex;
  align-items: center;
  justify-content: center;
}
.locate-container .locate-wrap .map-tab-area .info-container .info-wrap .item .tag{
  width: 35%;
}
.locate-container .locate-wrap .map-tab-area .info-container .info-wrap .item .tag p{
  text-align: center;
  color: #333;
  font-size: 28px;
  font-family: 'yg-jalnan';
  font-weight: 700;
  line-height: 240%;
  letter-spacing: -2px;
  position: relative;
}
.locate-container .locate-wrap .map-tab-area .info-container .info-wrap .item .addr-wrap{
  width: 65%;
  text-align: left;
}
.locate-container .locate-wrap .map-tab-area .info-container .info-wrap .item .addr-wrap .addr{
  color: #333;
  font-size: 19px;
  font-family: Noto Sans KR;
  line-height: 40px;
  letter-spacing: -1.8px;
}
.locate-container .bottom{
  width: 100%;
  margin-top: 25px;
}
.apply-wrap{
  text-align: center;
  position: fixed;
  bottom: 20px;
  left: calc(50% - 200px);
  border-radius: 50px;
  background: #0923AC;
  box-shadow: 0px -2px 40px 0px rgba(0, 0, 0, 0.10);
  max-width: 400px;
  width: 100%;
}
.apply-wrap a{
  color: #FFF;
  text-align: center;
  font-size: 26px;
  font-family: Noto Sans KR;
  font-weight: 700;
  letter-spacing: -1.3px;
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 21px 0;
}
.floating-sns-container {
  position: fixed;
  bottom: 13%;
  right: 0%;
  max-width: 210px;
}
.floating-sns-container img{
  width: 100%;
  display: block;
  margin-top: -13%;
  cursor: pointer;
}
@media (max-width: 1600px) {
  .locate-container .locate-wrap .map-flex .map-wrap img {
    position: relative;
    bottom: 50px;
  }
}
@media (max-width: 1240px) {
  .area2 .row .tag {
    padding: 10px 60px 12px;
    font-size: 26px;
  }

  .area3 .geni-wrap {
    padding: 0 20px;
  }

  .area3 .geni-wrap .text-wrap .sub-title1 {
    font-size: 50px;
  }

  .area3 .geni-wrap .text-wrap .sub-title2 {
    font-size: 30px;
  }

  .area3 .three-keywords .keyword img {
    width: 60px;
  }

  .area3 .three-keywords .keyword .title {
    font-size: 45px;
  }

  .area3 .three-keywords .keyword .text {
    font-size: 20px;
  }

  .area3 .three-keywords {
    padding: 0 20px;
    margin: 0 auto 200px auto;

  }
  .area3 .click-btn p {
    font-size: 30px;
    padding: 16px 72px;
  }
  .area3 .tab-container{
    margin: 60px auto 100px;
  }
  .work-info {
    margin: 90px auto 0;
  }
  .work-info .work .text-wrap{
    height: 200px;
  }
  .work-info .work .text{
    font-size: 18px;
  }
  .work-info .work .text strong {
    font-size: 30px;
  }
  .tax-wrap .work-tit{
    margin: 80px auto 100px;
  }
  .tab-container .pay-wrap .chart-container .chart1 .title{
    font-size: 28px;
  }
  .tab-container .pay-wrap .chart-container .chart1 .flex .item .date{
    font-size: 23px;
  }
  .tab-container .pay-wrap .chart-container .chart1 .flex .item .pay{
    font-size: 33px;
  }
  .tab-container .pay-wrap .chart-container .chart1 .flex .item .pay strong {
    font-size: 40px;
  }
  .tab-container .pay-wrap .chart-container .chart1-text{
    font-size: 20px;
  }
  .tab-container .pay-wrap .chart-container .chart2-title{
    font-size: 30px;
  }
  .tab-container .pay-wrap .chart-container .chart2-wrap .chart2 .title{
    font-size: 28px;
  }
  .tab-container .pay-wrap .chart-container .chart2-wrap .chart2 .info{
    font-size: 36px;
  }
  .tab-container .pay-wrap .chart-container .chart2-wrap .chart2 .info .sub{
    font-size: 24px;
  }
  .tab-container .pay-wrap .chart-container .chart2-wrap .chart2 .info .small{
    font-size: 22px;
  }
  .target-wrap{
    padding: 130px 0;
  }
  .target-wrap .title{
    margin: 0 auto 70px;
  }
  .target-wrap .chart .item li {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .target-wrap .chart .item .img2{
    margin-top: 40px;
  }
  .target-wrap .chart .item .img1{
    margin-top: 30px;
  }
  .locate-container{
    padding: 130px 0 0;
  }
  .locate-container .locate-wrap .title{
    margin: 0 auto 70px;
  }
  .locate-container .locate-wrap .map-tab-wrap{
    margin-top: 130px
  }
  .locate-container .locate-wrap .map-tab-wrap .map-tab{
    font-size: 30px;
    padding: 17px 0 14px;
  }
  .locate-container .locate-wrap .map-tab-area .info-container .locate-name .name {
    font-size: 25px;
  }
  .locate-container .locate-wrap .map-tab-area .info-container .info-wrap .item .tag {
    width: 30%;
  }
  .locate-container .locate-wrap .map-tab-area .info-container .info-wrap .item .tag p{
    font-size: 21px;
  }
  .locate-container .locate-wrap .map-tab-area .info-container .info-wrap .item .addr-wrap {
    width: 70%;
  }
  .locate-container .locate-wrap .map-tab-area .info-container .info-wrap .item .addr-wrap .addr {
    font-size: 18px;
  }
}
@media (max-width: 1024px) {
  .floating-header {
    padding: 23px 25px;
  }
  .floating-header .logo {
    width: 80px;
  }
  .floating-header .title {
    font-size: 22px;
    left: 2.5%;
  }
  .floating-header .link {
    font-size: 19px;
    position: relative;
    left: 2%;
  }

  .area1 .logo {
    max-width: 115px;
    margin-bottom: 25px;
  }
  .area1 .small {
    font-size: 40px;
    line-height: 80px;
  }
  .area1 .big {
    font-size: 60px;
    line-height: 80px;
  }
  .area1 .tag {
    padding: 14px 40px 12px;
    margin-top: 40px;
    font-size: 22px;
  }
  .area2 {
    padding: 160px 0;
  }
  .area2 .row:nth-child(1) {
    margin-bottom: 90px;
  }
  .area2 .row .tag {
    padding: 10px 45px 12px;
    font-size: 22px;
  }

  .area3 .geni-wrap .text-wrap .sub-title1 {
    font-size: 40px;
  }
  .area3 .geni-wrap .text-wrap .sub-title2 {
    font-size: 27px;
  }
  .area3 .geni-wrap .people {
    width: 15%;
  }
  .area3 .geni-wrap {
    gap: 60px;
  }

  .area3 .three-keywords .keyword .title {
    font-size: 36px;
  }

  .area3 .three-keywords .keyword {
    padding: 30px;
    gap: 19px;
  }

  .area3 .three-keywords .keyword .text {
    font-size: 16px;
  }
  .area3 .click-btn p {
    font-size: 26px;
    padding: 16px 52px;
  }
  .area3 .service-wrap .title{
    font-size: 28px;
  }
  .area3 .service-wrap .service .sub-tit1 {
    font-size: 20px;
    line-height: 31px;
  }
  .area3 .service-wrap .service{
    gap: 50px;
  }
  .area3 .service-wrap .service .tit{
    font-size: 32px;
    padding: 15px 0 10px 0;
  }
  .area3 .service-wrap .service .sub-tit2 {
    font-size: 20px;
    line-height: 27px;
  }
  .area3 .service-wrap .service img {
    width: 200px;
  }
  .work-info .work .text-wrap {
    height: 170px;
  }
  .work-info .work .title{
    font-size: 20px;
  }
  .work-info .work .text {
    font-size: 14px;
  }
  .work-info .work .text strong {
    font-size: 25px;
  }
  .tab-container .pay-wrap .chart-container .chart1 .title {
    font-size: 25px;
  }
  .tab-container .pay-wrap .chart-container .chart1 .flex .item {
    padding: 20px 0 25px;
    text-align: center;
  }
  .tab-container .pay-wrap .chart-container .chart1 .flex .item .date {
    font-size: 20px;
  }
  .tab-container .pay-wrap .chart-container .chart1 .flex .item .pay strong {
    font-size: 32px;
  }
  .tab-container .pay-wrap .chart-container .chart1 .flex .item .pay {
    font-size: 23px;
  }
  .tab-container .pay-wrap .chart-container .icon1 {
    margin: 45px auto 60px;
  }
  .tab-container .pay-wrap .chart-container .chart2-title {
    font-size: 27px;
  }
  .tab-container .pay-wrap .chart-container .chart2-wrap .chart2 .title {
    font-size: 25px;
  }
  .tab-container .pay-wrap .chart-container .chart2-wrap .chart2 .info {
    font-size: 28px;
  }
  .tab-container .pay-wrap .chart-container .chart2-wrap .chart2 .info .small {
    font-size: 18px;
  }
  .tab-container .pay-wrap .chart-container .icon2{
    margin: 80px auto;
  }
  .tab-container .pay-wrap .chart-container .txt{
    font-size: 50px;
  }
  .tab-container .welfare-txt{
    font-size: 24px;
  }
  .tab-container .welfare{
    margin: -60px auto 0px;
  }
  .tab-container .pay-wrap .bottom {
    width: 63%;
    margin-bottom: 40px;
  }
  .tab-container .vision-wrap .tit{
    font-size: 32px;
  }
  .tab-container .vision-wrap .grid-wrap{
    margin: 80px auto 0;
  }
  .tab-container .vision-wrap .grid-wrap .item{
    font-size: 19px;
  }
  .tab-container .vision-wrap .bottom{
    font-size: 33px;
  }

  .target-wrap .chart .item .title-wrap{
    font-size: 19px;
  }
  .target-wrap .chart .item li {
    font-size: 16px;
    margin-bottom: 25px;
  }
  .target-wrap .chart .item .img1 {
    width: 64%;
  }
  .target-wrap .chart .item .img2 {
    width: 64%;
  }
  .career-wrap{
    padding: 130px 0;
  }
  .career-wrap .title{
    margin: 0 auto 70px;
  }
  .video-wrap .title {
    margin: 0 auto 50px;
  }
  .video-wrap{
    padding: 130px 0;
  }
  .locate-container {
    padding: 100px 0 0;
  }
  .locate-container .locate-wrap .title {
    margin: 0 auto 50px;
  }
  .locate-container .locate-wrap .map-tab-wrap{
    margin-top: 80px
  }
  .locate-container .locate-wrap .map-tab-wrap .map-tab{
    font-size: 27px;
  }
  .locate-container .locate-wrap .map-tab-area .info-container{
    margin-bottom: 40px;
  }

}
@media (max-width: 800px) {
  .locate-container .locate-wrap .map-flex{
    flex-wrap:wrap;
  }
  .locate-container .locate-wrap .map-flex .map-wrap{
    width: 100%;
  }
  .locate-container .locate-wrap .map-flex .map-tab-container{
    width: 100%;
  }
  .locate-container .locate-wrap .map-flex .map-wrap img {
    position: relative;
    bottom: 0px;
  }
}
@media (max-width: 768px) {
  .pc {
    display: none !important;
  }

  .mobile {
    display: block !important;
  }

  .layer-popup {
    max-width: 90%;
    top: 5%;
    left: 5%;
  }

  .floating-header {
    padding: 15px 20px;
  }

  .floating-header .logo {
    width: 50px;
  }

  .floating-header .title {
    font-size: 19px;
    left: 3.5%;
  }

  .floating-header .link {
    font-size: 14px;
    padding: 10px 11px 8px;
  }

  .area1 {
    padding: 190px 0;
  }

  .area1 .logo {
    max-width: 90px;
    margin-bottom: 25px;
  }

  .area1 .small {
    font-size: 25px;
    line-height: 60px;
  }

  .area1 .big {
    font-size: 40px;
    line-height: 60px;
  }

  .area1 .tag {
    padding: 14px 40px 12px;
    margin-top: 40px;
    font-size: 18px;
  }

  .area2 {
    padding: 100px 0;
  }

  .area2 .row {
    flex-wrap: wrap;
  }

  .area2 .row:nth-child(1) {
    margin-bottom: 60px;
  }

  .area2 .row:nth-child(1) .text {
    width: 90%;
    margin-bottom: 20px;
  }

  .area2 .row:nth-child(1) .img {
    width: 100%;
  }

  .area2 .row .car {
    margin-bottom: 20px;
  }

  .area2 .row .tag {
    padding: 10px 45px 12px;
    font-size: 25px;
  }

  .area2 .row:nth-child(2) .text {
    width: 100%;
  }

  .area3 .geni-wrap {
    margin: 100px auto;
  }

  .area3 .geni-wrap .people {
    width: 15%;
    object-fit: contain;
  }

  .area3 .geni-wrap {
    gap: 20px;
  }

  .area3 .geni-wrap .text-wrap .geni-title {
    width: 140%;
    overflow: hidden;
  }

  .area3 .geni-wrap .text-wrap .sub-title2 {
    font-size: 21px;
  }

  .area3 .three-keywords {
    gap: 8px;
    margin: 0 auto 100px auto;
  }

  .area3 .three-keywords .keyword {
    width: 33.333%;
    margin: 0 auto;
    padding: 25px 10px 10px;
  }

  .area3 .three-keywords .keyword .text {
    font-size: 14px;
  }
  .area3 .three-keywords .keyword .text br{
    display: none;
  }
  .area3 .three-keywords .keyword .title {
    font-size: 27px;
  }

  .area3 .click-btn {
    width: 90%;
    margin: 0 auto;
  }

  .area3 .click-btn p {
    width: 25%;
    font-size: 20px;
    padding: 11px 0;
  }

  .area3 .service-wrap .service {
    gap:5px;
  }
  .area3 .service-wrap .service img{
    width: 95%;
  }
  .area3 .service-wrap .service .service-item {
    width: 32%;
    text-align: center;
  }
  .area3 .service-wrap .service .sub-tit1 {
    font-size: 18px;
  }
  .area3 .service-wrap .service .tit {
    padding: 7px 0 5px 0;
    font-size: 20px;
  }
  .area3 .service-wrap .service .sub-tit2 {
    font-size: 13px;
    line-height: 18px;
  }
  .work-info{
    gap: 5px;
    padding: 0 10px;
  }
  .work-info .work {
    width: 32%;
    margin-bottom: 15px;
  }
  .work-info .work .text strong {
    font-size: 18px;
    display: block;
  }
  .area3 .service-wrap .title {
    font-size: 11px;
  }
  .work-info .work .text {
    font-size: 12px;
  }
  .work-info .work .text{
    list-style: none;
  }
  .work-info .work .text-wrap {
    height: 130px;
    padding: 0 3px;
  }
  .work-info .work .text li{
    margin-bottom: 10px;
  }

  .tax-wrap .work-tit {
    margin: 60px auto 50px;
    width: 67%;
  }
  .tab-container .pay-wrap .chart-container .icon1 {
    margin: 35px auto 40px;
  }
  .tab-container .pay-wrap .chart-container {
    padding: 40px 0;
    margin: 40px 0;
  }

  .tab-container .pay-wrap .chart-container .chart1 .flex {
    flex-wrap: wrap;
    padding: 0 15px;
    box-sizing: border-box;
  }

  .tab-container .pay-wrap .chart-container .chart1 .flex .item {
    width: 50%;
  }

  .tab-container .pay-wrap .chart-container .chart1 .title {
    font-size: 23px;
  }

  .tab-container .pay-wrap .chart-container .chart1 .flex .item:nth-child(1),
  .tab-container .pay-wrap .chart-container .chart1 .flex .item:nth-child(2) {
    border-bottom: 1px solid #ddd;
  }

  .tab-container .pay-wrap .chart-container .chart1-text {
    font-size: 14px;
  }

  .tab-container .pay-wrap .chart-container .chart2-title {
    font-size: 25px;
  }

  .tab-container .pay-wrap .chart-container .chart2-wrap .chart2 .info {
    padding: 16px 0 18px;
  }

  .tab-container .pay-wrap .chart-container .chart2-wrap .chart2 .title {
    font-size: 23px;
  }

  .tab-container .pay-wrap .chart-container .chart2-wrap .chart2 .info {
    font-size: 21px;
  }

  .tab-container .pay-wrap .chart-container .chart2-wrap .chart2 .info .small {
    font-size: 14px;
  }

  .tab-container .pay-wrap .chart-container .chart2-wrap .chart2 .info .sub {
    font-size: 20px;
  }

  .tab-container .pay-wrap .chart-container .icon2 {
    margin: 60px auto;
  }

  .tab-container .pay-wrap .chart-container .txt {
    font-size: 28px;
  }

  .tab-container .welfare-txt {
    font-size: 20px;
  }

  .tab-container .vision-wrap .tit {
    font-size: 22px;
  }

  .tab-container .vision-wrap .grid-wrap .item {
    width: calc(50% - 10px);
    padding: 35px 10px;
  }

  .tab-container .vision-wrap .grid-wrap .item:nth-child(2) {
    padding: 47px 10px;
  }

  .tab-container .vision-wrap .grid-wrap .item:nth-child(3) {
    width: 60%;
  }

  .tab-container .vision-wrap .bottom {
    font-size: 24px;
  }
  .target-wrap .chart .item {
    width: 100% !important;
    margin-bottom: 25px;
    overflow: hidden;
  }
  .target-wrap .title {
    margin: 0 auto 40px;
  }
  .target-wrap .chart .item .title-wrap{
    padding: 11px 0 13px;
  }
  .target-wrap .chart .item:nth-child(2) .title-wrap {
    border-radius: 50px 0 0px 50px;
  }
  .target-wrap .chart .item .title-wrap{
    font-size: 14px;
  }
  .target-wrap .chart .item li {
    font-size: 13px;
  }
  .target-wrap .chart .item ul {
    padding-left: 8%;
  }
  .target-wrap .chart .item .img2 {
    margin-top: 20px;
  }
  .target-wrap .chart .item ul {
    margin-top: 20px;
  }
  .target-wrap {
    padding: 90px 0;
  }

  .career-wrap {
    padding: 90px 0;
  }

  .video-wrap {
    padding: 90px 0;
  }

  .video-wrap .txt {
    color: #000;
    font-size: 24px;
  }
  .locate-container{
    margin-bottom: 70px;
  }
  .locate-container .locate-wrap .map-tab-wrap {
    margin-top: 40px;
  }
  .locate-container .locate-wrap .map-tab-wrap .map-tab {
    font-size: 17px;
    padding: 12px 0 10px;
  }
  .locate-container .locate-wrap .map-tab-area {
    margin-top: 20px;
  }
  .locate-container .locate-wrap .map-tab-area .info-container .locate-name .name {
    font-size: 22px;
  }
  .locate-container .locate-wrap .map-tab-area .info-container .info-wrap .item .tag p {
    font-size: 20px;
  }
  .locate-container .locate-wrap .map-tab-area .info-container .info-wrap .item .addr-wrap .addr {
    font-size: 17px;
  }
  .locate-container .locate-wrap .map-tab-container {
    min-height: 500px;
  }
  .apply-wrap a {
    font-size: 20px;
  }
  .floating-sns-container {
    position: fixed;
    bottom: 11%;
    right: 0%;
    max-width: 70px;
  }


  .area3 .banner{
    width: 170%;
    position: relative;
    left: -35%;
  }
  .career-wrap .step-wrap .item:nth-last-child(2){
    width: 36%;
    margin-top: 15px;
    position: relative;
    left: -2%;
  }
  .career-wrap .step-wrap .item:nth-last-child(2) .icon{
    top: 34%;
    left: -9%;
    width: 7.5%;
  }
  .career-wrap .step-wrap .item:nth-last-child(1){
    margin-top: 15px;
    position: relative;
    left: -2%;
  }
  .career-wrap .step-wrap .item:nth-last-child(1) .icon{
    left: -32%;
  }
  .area3 .geni-wrap .text-wrap .geni-title-wrap .geni{
    left: 52%;
    bottom: 24%;
    width: 23%;
  }
  .locate-container .locate-wrap .map-tab-wrap-pc{
    display: none !important;
  }
  .locate-container .locate-wrap .map-tab-wrap-mobile{
    margin: 40px auto 0 !important;
  }
  .locate-container .locate-wrap .map-tab-area .info-container .info-wrap .item .tag {
    width: 20%;
  }
  .locate-container .locate-wrap .map-tab-area .info-container .info-wrap .item .addr-wrap {
    width: 80%;
  }
  .area3 .service-wrap .title-head{
    font-size: 16px;
  }
  .target-wrap .title{
    max-width: 335px;
    width: 70%;
  }
  .target-wrap .chart .item:nth-child(1){
    display: none;
  }
}

@media (max-width: 480px) {
  .area1 .logo {
    max-width: 70px;
    margin-bottom: 15px;
  }

  .area1 .small {
    font-size: 22px;
    line-height: 50px;
  }

  .area1 .big {
    font-size: 30px;
    line-height: 50px;
  }

  .area1 .tag {
    padding: 12px 40px 10px;
    margin-top: 30px;
    font-size: 16px;
  }
  .area3 .three-keywords{
    margin: 0 auto 80px auto;
  }
  .area3 .geni-wrap .people {
    display: none;
  }

  .area3 .geni-wrap .text-wrap .sub-title2 {
    font-size: 19px;
  }

  .area3 .geni-wrap {
    margin: 70px auto;
  }

  .area3 .service-wrap .title {
    margin-bottom: 50px;
  }

  .work-info .work .title {
    margin-bottom: 0 !important;
  }
  .tab-container .welfare-txt{
    margin-top: 40px;
  }
  .tab-container .pay-wrap .chart-container .chart2-wrap .chart2 .info {
    font-size: 18px;
  }

  .tab-container .pay-wrap .chart-container .chart2-wrap .chart2 .info .sub {
    font-size: 16px;
  }

  .tab-container .pay-wrap .chart-container .icon2 {
    margin: 50px auto;
  }

  .tab-container .pay-wrap .chart-container .icon2 {
    width: 37px;
  }

  .tab-container .pay-wrap .chart-container .txt {
    font-size: 25px;
  }

  .tab-container .welfare-txt {
    font-size: 14px;
  }

  .tab-container .vision-wrap .tit {
    font-size: 16px;
    line-height: 25px;
  }

  .tab-container .vision-wrap .grid-wrap {
    margin: 50px auto 0;
  }

  .tab-container .vision-wrap .grid-wrap .item {
    font-size: 13px;
    padding: 26px 0px;
  }

  .tab-container .vision-wrap .grid-wrap .item:nth-child(2) {
    padding: 33px 10px;
  }

  .tab-container .vision-wrap .bottom {
    font-size: 17px;
  }

  .video-wrap .txt {
    color: #000;
    font-size: 21px;
  }
  .locate-container .locate-wrap .map-tab-area .info-container{
    flex-wrap: wrap;
  }
  .locate-container .locate-wrap .map-tab-area .info-container .locate-name {
    width: 100%;
  }
  .locate-container .locate-wrap .map-tab-area .info-container .info-wrap {
    width: 100%;
  }
  .locate-container .locate-wrap .map-tab-area .info-container .info-wrap:after{
    display: none;
  }
  .locate-container .locate-wrap .map-tab-area .info-container .info-wrap .item .tag p{
    text-align: left;
  }
  .locate-container .locate-wrap .map-tab-area .info-container .info-wrap .item .tag p {
    font-size: 16px;
    letter-spacing: -1px;
  }
  .locate-container .locate-wrap .map-tab-container {
    min-height: 300px;
  }
  .locate-container .locate-wrap .map-tab-wrap .map-tab {
    font-size: 17px;
    padding: 10px 0 8px;
  }

  .apply-wrap{
    width: 300px;
    left: calc(50% - 150px);

  }
  .apply-wrap a{
    padding: 14px 0;
    font-size: 18px;
  }
  .area3 .click-btn{
    gap:7px;
  }
  .area3 .click-btn p{
    font-size:17px;
  }
  .area3 .three-keywords {
    margin: 0 auto 80px auto;
  }
  .area3 .three-keywords .keyword .title {
    font-size: 24px;
  }
  .area3 .three-keywords .keyword img {
    width: 54px;
  }
  .area3 .three-keywords .keyword .text {
    font-size: 14px;
  }
  .area3 .three-keywords .keyword:nth-child(1) img{
    position: relative;
    bottom: 5px;
  }
  .area3 .three-keywords .keyword:nth-child(1) .text {
    position: relative;
    bottom: 0px;
  }
}
