/* popup */
.pc {
  display: block;
}
.mobile {
  display: none !important;
}

.layer-popup {
  position: absolute;
  z-index: 9999;
  background-color: #fff;
  box-shadow: 2px 3px 10px #555;
  border-radius: 10px;
  height: auto !important;
}
.layer-popup:nth-child(1) {
  left: 0;
}
.layer-popup img {
  width: 100%;
  height: auto !important;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.layer-popup .show-chk-wrap {
  display: flex;
  padding: 10px 20px;
  box-sizing: border-box;
  justify-content: space-between;
}
.layer-popup .show-chk-wrap a {
  font-size: 16px;
  font-weight: 700;
}

#container {
  width: 100%;
  margin: 0 auto;
}
.text-center {
  text-align: center;
}

/* content */
.content {
  width: 100%;
  text-align: center;
}
.floating-header{
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 30px 25px;
  box-sizing: border-box;
  align-items: center;
  z-index: 100;
  border-bottom: 1px solid rgba(255, 255, 255, 0.50);
}
.floating-header .logo{
  width: 95px;
}
.floating-header .title{
  color: #FFF;
  font-size: 24px;
  font-weight: 200;
  position: relative;
  left: 1.5%;
  top: 3px;
}
.floating-header .link{
  color: #FFF;
  font-size: 23px;
  font-weight: 200;
  letter-spacing: -2.3px;
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0.50);
  padding: 11px 14px 10px;
  box-sizing: border-box;
}
.floating-header.fixed{
  background: #fff;
}
.floating-header.fixed .title{
  color: #0418A3;
}
.floating-header.fixed .link{
  background: #0418A3;
  color: #fff;
}

.area1{
  width: 100%;
  background: transparent;
  padding: 235px 0;
  text-align: center;
  position: relative;
}
.area1 .logo{
  max-width: 129px;
  margin-bottom: 30px;
}
.area1 .small{
  color: #FFF;
  text-align: center;
  font-size: 50px;
  font-weight: 300;
  line-height: 90px;
  letter-spacing: -2.5px;
}
.area1 .big{
  color: #FFF;
  text-align: center;
  font-size: 70px;
  font-weight: 700;
  line-height: 90px;
  letter-spacing: -2.5px;
}
.area1 .tag{
  border-radius: 50px;
  background: #FFF;
  padding: 16px 60px 14px;
  box-sizing: border-box;
  margin-top: 50px;
  display: inline-block;
  color: #02167C;
  text-align: center;
  font-size: 26px;
  letter-spacing: -1.3px;
}
.area1 .wave{
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.area2{
  padding: 200px 0;
}
.area2 .row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
}
.area2 .row:nth-child(1) .text{
  width: 55%;
}
.area2 .row .text1{
  max-width: 645px;
  width: 100%;
}
.area2 .row .tag{
  border-radius: 50px;
  padding: 10px 74px 12px;
  box-sizing: border-box;
  color: #FFF;
  text-align: center;
  font-size: 30px;
  font-family: Noto Sans KR;
  letter-spacing: -1.5px;
  margin-bottom: 5px;
  display: block;
}
.area2 .row .tag:nth-child(1){
  background: #3656FF;
}
.area2 .row .tag:nth-child(2){
  background: #0923AC;
}
.area2 .row .tag:nth-child(3){
  background: #02167C;
  margin-bottom: 0;
}
.area2 .row:nth-child(1){
  margin-bottom: 120px;
}
.area2 .row .car{
  max-width: 500px;
  width: 90%;
}
.area2 .row .text2{
  max-width: 554px;
  width: 100%;
}
.area2 .row:nth-child(2) .text{
  width: 55%;
}

@media (max-width: 1240px) {
  .area2 .row .tag {
    padding: 10px 60px 12px;
    font-size: 26px;
  }
}
@media (max-width: 1024px) {
  .floating-header {
    padding: 23px 25px;
  }
  .floating-header .logo {
    width: 80px;
  }
  .floating-header .title {
    font-size: 22px;
    left: 2.5%;
  }
  .floating-header .link {
    font-size: 19px;
    position: relative;
    left: 2%;
  }

  .area1 .logo {
    max-width: 115px;
    margin-bottom: 25px;
  }
  .area1 .small {
    font-size: 40px;
    line-height: 80px;
  }
  .area1 .big {
    font-size: 60px;
    line-height: 80px;
  }
  .area1 .tag {
    padding: 14px 40px 12px;
    margin-top: 40px;
    font-size: 22px;
  }
  .area2 {
    padding: 160px 0;
  }
  .area2 .row:nth-child(1) {
    margin-bottom: 90px;
  }
  .area2 .row .tag {
    padding: 10px 45px 12px;
    font-size: 22px;
  }
}
@media (max-width: 768px) {
  .pc {
    display: none !important;
  }
  .mobile {
    display: block !important;
  }
  .layer-popup {
    max-width: 90%;
    top: 5%;
    left: 5%;
  }

  .floating-header {
    padding: 15px 20px;
  }
  .floating-header .logo {
    width: 50px;
  }
  .floating-header .title {
    font-size: 19px;
    left: 3.5%;
  }
  .floating-header .link {
    font-size: 14px;
    padding: 10px 11px 8px;
  }
  .area1{
    padding: 190px 0;
  }
  .area1 .logo {
    max-width: 90px;
    margin-bottom: 25px;
  }
  .area1 .small {
    font-size: 25px;
    line-height: 60px;
  }
  .area1 .big {
    font-size: 40px;
    line-height: 60px;
  }
  .area1 .tag {
    padding: 14px 40px 12px;
    margin-top: 40px;
    font-size: 18px;
  }
  .area2 {
    padding: 100px 0;
  }
  .area2 .row{
    flex-wrap: wrap;
  }
  .area2 .row:nth-child(1) {
    margin-bottom: 60px;
  }
  .area2 .row:nth-child(1) .text {
    width: 90%;
    margin-bottom: 20px;
  }
  .area2 .row:nth-child(1) .img {
    width: 100%;
  }
  .area2 .row .car{
    margin-bottom: 20px;
  }
  .area2 .row .tag {
    padding: 10px 45px 12px;
    font-size: 25px;
  }
  .area2 .row:nth-child(2) .text{
    width: 100%;
  }

}

@media (max-width: 480px) {
  .area1 .logo {
    max-width: 70px;
    margin-bottom: 15px;
  }
  .area1 .small {
    font-size: 22px;
    line-height: 50px;
  }
  .area1 .big {
    font-size: 30px;
    line-height: 50px;
  }
  .area1 .tag {
    padding: 12px 40px 10px;
    margin-top: 30px;
    font-size: 16px;
  }
}
